---
import PageLayout from "../layouts/page-layout.astro";
import Album from "../components/album.astro";

import icedancer from "../public/music/dec-2023/icedancer.webp";
import timelapse from "../public/music/dec-2023/time-lapse.webp";

import zachBryan from "../public/music/jan-2024/zach-bryan.webp";
import keroOne from "../public/music/jan-2024/kero-one.webp";

import yaejiEP2 from "../public/music/feb-2024/yaeji-ep2.webp";
import seafoodSamAfrosInTheWind from "../public/music/feb-2024/seafoodsam-afrosinthewind.webp";

import bladeeYungLeanPsykos from "../public/music/mar-2024/bladee-lean-psykos.webp";
import cigarettesAfterSexSelfTitled from "../public/music/mar-2024/cigarettes-after-sex-self-titled.webp";

const description = "Keevan is a software engineer. Alum at Allstate, Microsoft, and GitHub.";
const title = "Keevan Dance - Music";
---

<PageLayout title={title} description={description}>
    <a href="/" class="nav">&#8592;home</a>
    <h1 class="mt-3">Music</h1>
    <h2>What I'm listening to</h2>
    <section>
        <h3>March 2024</h3>
        <div class="mt-4 grid w-full grid-cols-2 justify-items-center gap-2">
            <Album src={bladeeYungLeanPsykos} caption="Bladee & Yung Lean - Psykos" />
            <Album src={cigarettesAfterSexSelfTitled} caption="Cigarettes After Sex - Self Titled" />
        </div>
        <h3 class="mt-9">February 2024</h3>
        <div class="mt-4 grid w-full grid-cols-2 justify-items-center gap-2">
            <Album src={yaejiEP2} caption="Yaeji - EP2" />
            <Album src={seafoodSamAfrosInTheWind} caption="Seafood Sam - Afros in the Wind" />
        </div>
        <h3 class="mt-9">January 2024</h3>
        <div class="mt-4 grid w-full grid-cols-2 justify-items-center gap-2">
            <Album src={zachBryan} caption="Zach Bryan - Zach Bryan" />
            <Album src={keroOne} caption="Kero One - Windmills of the Soul" />
        </div>
        <h3 class="mt-9">December 2023</h3>
        <div class="mt-4 grid w-full grid-cols-2 justify-items-center gap-2">
            <Album src={icedancer} caption="Bladee - Icedancer" />
            <Album src={timelapse} caption="Yukika - Time-Lapse" />
        </div>
    </section>
</PageLayout>
